#titolo {
    -fx-alignment: center;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

#sottotitolo {
    -fx-alignment: center;
    -fx-font-size: 15px;
    -fx-text-fill: #000000;
}

.button:hover{
    -fx-background-color: #00c6ff;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.9), 15, 0.5, 0, 2);
}



/* style.css */

.text-field,
.password-field {
    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-prompt-text-fill: #999999;
    -fx-padding: 10 15 10 15;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 1);
    -fx-transition: all 0.3s ease-in-out;
}

.text-field:focused,
.password-field:focused {
    -fx-border-color: #66afe9;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 2);
}

.text-field:hover,
.password-field:hover {
    -fx-border-color: #66afe9;
}

.text-field .text,
.password-field .text {
    -fx-font-family: 'Arial', sans-serif;
}

.text-field .prompt-text,
.password-field .prompt-text {
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-size: 12px;
}


